@charset "UTF-8";

/* sitemap */
.sitemap-container{
  padding-top: 100px;
  border-top: solid 1px #c8c8c8;
}
  .sitemap-top-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
    .sitemap-top-list > li{
      width: 12.5%;
    }
      .sitemap-top-btn{
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
        color: #222;
      }
      .sitemap-top-btn:hover{
        text-decoration: underline;
      }
        .sitemap-mid-list li{
          margin-bottom: 15px;
        }
          .sitemap-mid-btn{
            display: inline-block;
            font-size: 16px;
            font-weight: 300;
            color: #666;
            letter-spacing: -0.25px;
          }
          .sitemap-mid-btn:hover, .sitemap-right-btn:hover{
            text-decoration: underline;
          }
          .sitemap-right-btn{
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            color: #222;
            margin-bottom: 15px;
          }
/* footer */
  footer{
    border-top: 1px solid #c8c8c8;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  footer:after{
    content: '';
    display: block;
    clear: both;
  }
  .footer-left{
    width: 45%;
    margin-right: 5%;
    float: left;
    display: flex;
    justify-content: space-between;
  }
      .system-btn{
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
        color: #222;
      }
      .system-btn:hover{
        text-decoration: underline;
      }
    .direct-inner{
      width: 35%;
    }
      .direct-title{
        position: relative;
        margin-bottom: 30px;
      }
        .direct-list-open{
          position: relative;
          display: block;
          padding: 8px;
          border-bottom: 2px solid #222;
          color: #222;
          font-weight: 400;
          cursor: pointer;
          word-break: keep-all;
          background: #fff;
        }
        .direct-list-on{
          color: #fff;
          background: #222;
        }
        .direct-open-arrow{
          display: block;
          float: right;
          width: 13px;
          height: 13px;
          margin-top: 4px;
          border-bottom: 2px solid #222;
          border-right: 2px solid #222;
          transform: rotate(45deg);
          transform-origin: center;
          transition: all .4s;
        }
        .direct-list-on .direct-open-arrow{
          margin-top: 7px;
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(-135deg);
        }
        .direct-list{
          display: none;
          position: absolute;
          bottom: 100%;
          left: 0;
          width: 100%;
          height: auto;
          background: #222;
          overflow: hidden;
          z-index: 99;
        }
        .direct-btn{
          display: block;
          padding: 11px 5px;
          font-size: 16px;
          font-weight: 300;
          color: #fff;
          text-align: center;
        }
        .direct-btn:hover{
          color: #FADA4E;
          text-decoration: underline;
        }
    .footer-right{
      width: 45%;
      margin-left: 5%;
      float: left;
      display: flex;
      justify-content: space-between;
    }
          .policy-btn{
            display: inline-block;
            margin-bottom: 6px;
            font-size: 16px;
            font-weight: 400;
            color: #444;
            word-break: keep-all;
          }
          .policy-btn:hover{
            text-decoration: underline;
          }
      .alright-inner{
        width: 50%;
      }
        .footer-sns-list{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
        }
          .footer-sns-btn{
            display: block;
          }
            .footer-sns-btn img{
              display: block;
              width: 33px;
            }
          .alright-info p, .alright-info a{
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            color: #444;
            text-align: right;
          }
          .alright-info p:last-child{
            margin-bottom: 0;
          }
        .certify-sticker{
          width: 50%;
          float: right;
          margin-top: 20px;
        }
          .certify-btn{
            display: block;
            width: 42%;
            margin-right: 5%;
            float: left;
          }
          .certify-btn:last-child{
            width: 53%;
            margin-right: 0;
          }
            .certify-btn img{
              display: block;
              width: 100%;
            }
        .w3c-sticker{
          float: left;
          width: 45%;
          margin-top: 30px;
          overflow: hidden;
        }
          .w3c-sticker > a{
            display: block;
            width: 45%;
            margin-right: 5%;
            float: left;
          }
          .w3c-sticker > a:last-child{
            margin-right: 0;
          }
            .w3c-sticker > a > img{
              display: block;
              width: 100%;
              border: 0;
            }