@charset "UTF-8";

/*intro*/
  .intro-container{
    padding-top: 35px;
  }
    .main-exhibition-img{
      width: 100%;
    }
  
  .main-slider .main-exhibition .main-pagination{
    width: auto;
    left: inherit;
    right: 65px;
    bottom: 45px;
  }
  .main-slider .main-exhibition .main-pagination span{
    width: 18px;
    height: 18px;
    margin: 0 8px;
    background: #fff;
    border: 1px solid #444;
    opacity: 1;
  }
  .main-slider .main-exhibition .main-pagination span.swiper-pagination-bullet-active{
    background: #276868;
  }
  .main-exhibition .main-next-btn,
  .main-exhibition .main-prev-btn{
    color: #222;
  }
  .main-stop-btn{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 20px;
    bottom: 43px;
    z-index: 10;
    border-radius: 0;
    border: 1px solid #c8c8c8;
    background: url(../img/pause-btn.png) no-repeat;
    background-color: #fff;
    background-position: center;
  }

  .main-info{
    width: 99%;
    margin: 35px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
    .mus-info-area{
      width: 78%;
      margin-right: 2%;
      border-bottom: 3px solid #222;
    }
      .info-time, .info-fee{
        display: inline-block;
        width: 100%;
      }
      .info-time{
        margin-bottom: 20px;
      }
        .info-title{
          display: inline-block;
          margin-right: 30px;
          font-size: 24px;
          font-weight: 700;
        }
          .info-title span{
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: 20px;
            margin-bottom: -4px;
          }
          .info-time-title span{
            background: url(../img/icon-clock.png) no-repeat;
            background-size: contain;
          }
          .info-fee-title span{
            background: url(../img/icon-ticket.png) no-repeat;
            background-size: contain;
          }
        .info-text-box{
          display: inline-block;
        }
          .info-text-box > p{
            display: inline-block;
          }
          .info-sub-title{
            margin-right: 10px;
            font-size: 18px;
            font-weight: 700;
          }
          .info-text{
            margin-right: 20px;
            font-size: 18px;
            font-weight: 300;
          }
          .info-text:last-child{
            margin-right: 0;
          }
      .info-fee{
        margin-bottom: 30px;
      }
    .mus-btn-area{
      width: 20%;
    }
      .main-btn-go{
        position:relative;
        display: block;
        float: left;
        width: 45%;
        height: 123px;
        line-height: 123px;
        font-size: 28px;
        font-weight: 700;
        color: #276868;
        text-align: center;
      }
      .main-btn-go:first-child{
        margin-right: 10%;
      }
      .main-btn-go::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #276868;
        transition: all .4s;
        z-index: -1;
      }
      .main-btn-go:hover{
        color: #fff;
      }
      .main-btn-go:hover::after{
        height: 100%;
      }

/*exhibition*/
  .nationExh-container{
    position: relative;
  }
    .nationExh-inner{
      position: relative;
      height: 611px;
      overflow: hidden;
    }
      .nationExh-list{
        position: absolute;
        top: 0;
        left: 0;
        width: 2190px;
        overflow: hidden;
        transition: left .4s;
      }
        .nationExh-list li{
          width: 315px;
          margin-right: 60px;
          float: left;
        }
        .nationExh-list li:last-child{
          margin-right: 0;
        }
          .nation-poster{
            display: block;
            position: relative;
            max-height: 450px;
            overflow: hidden;
          }
          .poster-dim{
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            transition: all .4s;
          }
          .nation-poster:hover .poster-dim{
            opacity: 1;
          }
            .dim-text{
              width: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              font-size: 28px;
              font-weight: 500;
              color: #fff;
              text-align: center;
            }
            .nation-poster img{
              display: block;
              width: 100%;
            }
          .nation-tag{
            margin-top: 30px;
          }
            .nation-tag span{
              display: inline-block;
              line-height: 30px;
              font-size: 16px;
              font-weight: 300;
              padding: 0 12px;
              box-sizing: border-box;
              border: 1px solid #222;
            }
            .nation-tag-when{
              background: #222;
              color: #fff;
            }
          .nation-title{
            display: block;
            margin-top: 15px;
            font-size: 16px;
            font-weight: 400;
            color: #222;
          }
          .nation-title:hover{
            text-decoration: underline;
          }
          .nation-period{
            margin-top: 15px;
            font-weight: 300;
            color: #8e8e8e;
          }

      .nationExh-control{
        width: 5%;
        position: absolute;
        right: 5px;
        top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
        .nationExh-control button{
          padding: 0;
          cursor: pointer;
        }
        .nExh-prev{
          width: 15px;
          height: 15px;
          border-top: 2px solid transparent;
          border-left: 2px solid #222;
          border-bottom: 2px solid #222;
          border-right: 2px solid transparent;
          transform: rotate(45deg);
          background: transparent;
        }
        .nExh-play{
          width: 10px;
          height: 18px;
          border: none;
          background: url(../img/pause-btn.png) no-repeat;
          background-color: transparent;
          background-size: contain;
          background-position: center;
        }
        .nExh-next{
          width: 15px;
          height: 15px;
          border-top: 2px solid transparent;
          border-left: 2px solid transparent;
          border-bottom: 2px solid #222;
          border-right: 2px solid #222;
          transform: rotate(-45deg);
          background: transparent;
        }

/*notice*/
  .notice-title span{
    display: inline-block;
    width: 47px;
    height: 42px;
    margin-bottom: -6px;
    background: url(../img/notice-icon.png) no-repeat;
    background-size: contain;
  }
  .notice-inner{
    width: 100%;
  }
    .notice-inner-top{
      width: 100%;
      display: inline-block;
    }
      .not-top-left{
        float: left;
        width: 48%;
        margin-right: 5%;
      }
          .notice-board-title{
            width: 100%;
            display: inline-block;
            border-bottom: 1px solid #8e8e8e;
          }
            .not-tab-radio{
              width: 80%;
              float: left;
              box-sizing: border-box;
            }
              .not-tab-radio input{
                display: none;
              }
              .not-tab-radio label{
                display: block;
                float: left;
                width: 25%;
                padding: 15px 0;
                font-size: 24px;
                text-align: center;
                cursor: pointer;
                color: #8e8e8e;
              }
              .not-tab-radio input:checked + label{
                color: #222;
                font-weight: 700;
                border-bottom: 4px solid #222;
              }
            .not-tab-plus{
              width: 28px;
              height: 28px;
              padding: 0;
              margin-top: 15px;
              float: right;
              border: solid 1px #000;
              font-size: 25px;
              line-height: 28px;
              background: transparent;
            }
          .notice-board-content{
            height: 380px;
            position: relative;
          }
          .not-board-list{
            list-style: disc;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 1px solid #222;
            padding-top: 30px;
            background: #fff;
          }
            .not-board-list li{
              margin: 0 0 35px 30px;
            }
              .board-link{
                display: block;
                float: left;
                font-size: 18px;
                width: 80%;
                font-weight: 500;
                color: #222;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .board-link:hover{
                text-decoration: underline;
              }
                .board-post-date{
                  float: left;
                  width: 20%;
                  font-size: 18px;
                  font-weight: 300;
                  color: #8e8e8e;
                  text-align: right;
                }

      .not-top-right{
        float: left;
        width: 47%;
        overflow: hidden;
        background: lavenderblush;
      }
        .service-slide{
          width: 2040px;
          position: relative;
          overflow: hidden;
        }
          .service-slide li{
            float: left;
          }
            .service-slide-btn{
              display: block;
            }
              .service-slide-btn img{
                width: 100%;
                display: block;
              }

    .notice-inner-bot{
      width: 100%;
      margin-top: 80px;
      overflow: hidden;
    }
      .not-bot-box{
        float: left;
      }
      .not-bot-title{
        margin-bottom: 35px;
        font-size: 30px;
      }
      .mkt-post-title{
        display: block;
        margin-top: 35px;
        font-size: 23px;
        font-weight: 500;
        line-height: 1.3;
        color: #222;
        letter-spacing: -1px;
      }
      .mkt-post-title:hover{
        text-decoration: underline;
      }
      .not-bot-edu{
        width: 26%;
        margin-right: 4.5%;
      }
        .not-edu-btn{
          position: relative;
          height: 385px;
          display: block;
          background: #f5f5f5;
        }
          .not-edu-btn img{
            display: block;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
      .not-bot-event{
        width: 20%;
        margin-right: 4.5%;
      }
        .bot-event-slide{
          width: 100%;
          overflow: hidden;
        }
        .musical-slide{
          position: relative;
          width: 576px;
          overflow: hidden;
        }
          .musical-slide li{
            width: 50%;
            float: left;
          }
            .musical-date{
              margin-top: 20px;
              font-size: 18px;
              font-weight: 300;
              color: #444;
            }
      .not-bot-online{
        width: 45%;
      }
        .online-exhibit-slide{
          width: 100%;
          overflow: hidden;
        }
          .online-exhibit-list{
            width: 4739px;
            overflow: hidden;
          }
            .online-exhibit-list li{
              float: left;
            }
            .online-exhibit-btn{
              display: block;
              width: 100%;
              background: #f5f5f5;
            }
              .online-exhibit-btn img{
                display: block;
                width: 100%;
              }
/* sitemap */
.sitemap-container{
  padding-top: 100px;
  border-top: solid 1px #c8c8c8;
}
  .sitemap-top-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
    .sitemap-top-list > li{
      width: 12.5%;
    }
      .sitemap-top-btn{
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
        color: #222;
      }
      .sitemap-top-btn:hover{
        text-decoration: underline;
      }
        .sitemap-mid-list li{
          margin-bottom: 15px;
        }
          .sitemap-mid-btn{
            display: inline-block;
            font-size: 15px;
            font-weight: 300;
            color: #666;
            letter-spacing: -0.25px;
          }
          .sitemap-mid-btn:hover, .sitemap-right-btn:hover{
            text-decoration: underline;
          }
          .sitemap-right-btn{
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            color: #222;
            margin-bottom: 15px;
          }
/* footer */
  footer{
    border-top: 1px solid #c8c8c8;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  footer:after{
    content: '';
    display: block;
    clear: both;
  }
  .footer-left{
    width: 45%;
    margin-right: 5%;
    float: left;
    display: flex;
    justify-content: space-between;
  }
      .system-btn{
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
        color: #222;
      }
      .system-btn:hover{
        text-decoration: underline;
      }
    .direct-inner{
      width: 35%;
    }
      .direct-title{
        position: relative;
        margin-bottom: 30px;
      }
        .direct-title > input[type="checkbox"]{
          display: none;
        }
        .direct-title > label {
          position: relative;
          display: block;
          padding: 8px 45px 8px 8px;
          border-bottom: 2px solid #222;
          font-weight: 400;
          cursor: pointer;
          word-break: keep-all;
        }
        .direct-title > input[type="checkbox"]:checked + label{
          color: #fff;
          background: #222;
        }
        .direct-title > label:after{
          content: '';
          position: absolute;
          top: 10px;
          right: 15px;
          width: 13px;
          height: 13px;
          border-bottom: 2px solid #222;
          border-right: 2px solid #222;
          transform: rotate(45deg);
          transition: all .4s;
        }
        .direct-title > input[type="checkbox"]:checked + label:after{
          top: 18px;
          transform: rotate(-135deg);
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
        }
        .direct-list{
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background: #222;
          transition: all .4s;
        }
        .direct-title > input[type="checkbox"]:checked ~ .direct-list{
          display: block;
          top: auto;
          bottom: 100%;
        }
        .direct-btn{
          display: block;
          padding: 8px 5px;
          font-size: 14px;
          font-weight: 300;
          color: #fff;
          text-align: center;
        }
        .direct-btn:hover{
          color: #FADA4E;
          text-decoration: underline;
        }
    .footer-right{
      width: 45%;
      margin-left: 5%;
      float: left;
      display: flex;
      justify-content: space-between;
    }
          .policy-btn{
            display: inline-block;
            margin-bottom: 6px;
            font-size: 16px;
            font-weight: 400;
            color: #444;
            word-break: keep-all;
          }
          .policy-btn:hover{
            text-decoration: underline;
          }
          .personal{
            font-weight: 700;
            color: #222;
          }
      .alright-inner{
        width: 50%;
      }
        .footer-sns-list{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
        }
          .footer-sns-btn{
            display: block;
          }
            .footer-sns-btn img{
              display: block;
              width: 33px;
            }
          .alright-info p, .alright-info a{
            display: block;
            margin-bottom: 10px;
            font-size: 15px;
            color: #444;
            text-align: right;
          }
          .alright-info p:last-child{
            margin-bottom: 0;
          }
        .certify-sticker{
          width: 50%;
          float: right;
          margin-top: 20px;
        }
          .certify-btn{
            display: block;
            width: 42%;
            margin-right: 5%;
            float: left;
          }
          .certify-btn:last-child{
            width: 53%;
            margin-right: 0;
          }
            .certify-btn img{
              display: block;
              width: 100%;
            }
        .w3c-sticker{
          float: left;
          width: 45%;
          margin-top: 30px;
          overflow: hidden;
        }
          .w3c-sticker > a{
            display: block;
            width: 45%;
            margin-right: 5%;
            float: left;
          }
          .w3c-sticker > a:last-child{
            margin-right: 0;
          }
            .w3c-sticker > a > img{
              display: block;
              width: 100%;
              border: 0;
            }