@charset "UTF-8";

/* smaller desktop */
@media screen and (max-width:1200px) {
  header, footer, [class*='-container']{
    width: 97%;
  }
  .gnb-container, .intro-container{
    width: 100%;
  }
  /* header */
  .gnb-inner{
    width: 60%;
  }
  .sign-inner{
    width: 15%;
  }
  /* intro */
  .main-info{
    width: 97%;
  }
  .mus-info-area{
    width: 73%;
  }
  .info-text-timebox{
    float: right;
    margin-top: 5px;
  }
  .info-title{
    width: 23%;
    margin-right: 0;
    float: left;
  }
  .info-text-box{
    width: 77%;
    float: left;
  }
  .mus-btn-area{
    width: 25%;
  }
  /* notice */
  .not-tab-radio label{
    font-size: 21px;
  }
  .not-tab-plus{
    margin-top: 18px;
  }
  .board-link{
    width: 75%;
    font-weight: 700;
  }
  .board-post-date{
    width: 25%;
  }
  /* sitemap */
  .sitemap-top-list{
    flex-wrap: wrap;
  }
  .sitemap-top-list > li{
    width: 25%;
  }
  .sitemap-top-list > li:nth-child(5),
  .sitemap-top-list > li:nth-child(6),
  .sitemap-top-list > li:nth-child(7),
  .sitemap-top-list > li:nth-child(8){
    margin-top: 30px;
  }
  .sitemap-mid-list li{
    margin-bottom: 10px;
  }
  .sitemap-mid-btn{
    font-weight: 500;
  }
  /* footer */
  footer{
    padding-top: 50px;
  }
  .footer-right, .footer-left{
    margin: 0;
    width: 100%;
  }
  .footer-right{
    margin-top: 55px;
  }
  .alright-inner{
    width: 35%;
    margin-right: 10%;
  }
  .direct-inner{
    width: 45%;
  }
  .direct-title{
    width: 45%;
    float: left;
  }
  .direct-title:first-child{
    margin-right: 5%;
  }
  .alright-info p, .alright-info a{
    text-align: left;
  }
  .certify-sticker{
    float: left;
  }
}
@media screen and (max-width:980px) {
  body{
    background: lavender;
  }
  header, footer, [class*='-container']{
    width: 90%;
  }
  .utility-wrap, .gnb-container{
    display: none;
  }
  .mobile-header{
    display: inline-block;
    width: 100%;
    padding-top: 35px;
  }
  .logo{
    float: left;
    width: auto;
  }
  .logo-btn img{
    display: block;
  }
  .mobile-header-btns{
    float: right;
  }
    .search-btn{
      display: inline-block;
      width: 38px;
      margin-right: 20px;
    }
    .mobile-open{
      display: inline-block;
      width: 40px;
      border: none;
      background: transparent;
      padding: 5px 0;
    }
      .mobile-open img{
        display: block;
      }
  .mobile-wrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
  }
  .mobile-header-open{
    width: 90%;
    margin: 0 auto;
  }
    .mobile-open-top{
      display: inline-block;
      width: 100%;
    }
      .mobile-lang{
        position: relative;
        float: left;
        width: 23%;
        padding: 20px 0;
        border-top: 3px solid #222;
        font-size: 21px;
        font-weight: 500;
        color: #444;
        text-align: center;
        cursor: pointer;
      }
      .mobile-lang:hover{
        background: #222;
        color: #fff;
      }
        .mobile-arrow-down{
          display: inline-block;
          width: 12px;
          height: 12px;
          margin: 0 0 1px 10px;
          border-bottom: solid 2px #444;
          border-left: solid 2px #444;
          transform: rotate(-45deg);
          transition: all .4s;
        }
        .mobile-lang:hover .mobile-arrow-down{
          margin: 0 0 -5px 10px;
          border-bottom: solid 2px #fff;
          border-left: solid 2px #fff;
          transform: rotate(135deg);
        }
        .mobile-lang-list{
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
        }
        .mobile-lang:hover .mobile-lang-list{
          display: block;
        }
          .util-sub-btn{
            padding: 15px 0;
            font-size: 21px;
            font-weight: 500;
          }
        .mobile-close{
          display: block;
          float: right;
          margin-top: 30px;
        }
          .mobile-close img{
            display: block;
          }
    .quick-menu{
      margin-top: 50px;
    }
      .quick-menu-title{
        display: inline-block;
        width: 100%;
        padding-bottom: 20px;
      }
      .mobile-login{
        display: block;
        float: left;
        font-size: 38px;
        font-weight: 700;
        color: #222;
      }
      .mobile-log-btns{
        float: right;
      }
        .mobile-logbtn{
          display: inline-block;
          margin-left: 25px;
          font-size: 28px;
          font-weight: 500;
          line-height: 55px;
          color: #222;
        }
      .quick-sub{
        overflow: hidden;
        padding: 25px;
        border-top: 1px solid #444;
        background: #f4f4f4;
      }
        .quick-sub li{
          width: 50%;
          float: left;
          margin-bottom: 35px;
        }
        .quick-sub li:last-child{
          margin-bottom: 0;
        }
          .quick-sub-btn{
            display: inline-block;
            color: #222;
            font-size: 24px;
            font-weight: 500;
          }
            .quick-sub-btn span{
              display: block;
              float: left;
              width: 35px;
              height: 35px;
              margin-right: 15px;
            }
              .qsb0 span{
                background: url(../img/m_menu-icon00.png) no-repeat;
                background-size: contain;
              }
              .qsb1 span{
                background: url(../img/m_menu-icon01.png) no-repeat;
                background-size: contain;
                background-position: center;
              }
              .qsb2 span{
                background: url(../img/m_menu-icon02.png) no-repeat;
                background-size: contain;
              }
              .qsb3 span{
                background: url(../img/m_menu-icon03.png) no-repeat;
                background-size: contain;
              }
              .qsb4 span{
                background: url(../img/m_menu-icon04.png) no-repeat;
                background-size: contain;
              }
  .mobile-menu-list{
    margin-top: 50px;
  }
  .mobile-menu-list > li{
    padding: 15px 0;
    border-bottom: solid 1px #c8c8c8;
  }
    .mobile-menu-btn{
      display: block;
      margin-bottom: 10px;
      font-size: 36px;
      font-weight: 500;
      color: #222;
    }
      .mMenu-arrow-down{
        display: block;
        float: right;
        width: 20px;
        height: 20px;
        margin: 9px 5px 0 10px;
        border-bottom: solid 3px #444;
        border-left: solid 3px #444;
        transform: rotate(-45deg);
        transition: all .4s;
      }
    .mobile-menu-btn:hover ~ .mobile-mid-inner,
    .mobile-menu-btn:active ~ .mobile-mid-inner,
    .mobile-menu-btn:focus ~ .mobile-mid-inner{
      display: block;
    }
    .mobile-mid-inner{
      display: none;
    }
      .mobile-mid-btn{
        display: inline-block;
        margin: 10px 0;
        font-size: 28px;
        font-weight: 400;
        color: #222;
      }
}
/* tablet */
@media screen and (max-width:768px) {
  
}
/* mobile */
@media screen and (max-width:480px) {
  
}