@charset "UTF-8";

/* smaller desktop */
@media screen and (max-width:1200px) {
  footer, [class*='-container']{
    width: 97%;
  }
  .intro-container{
    width: 100%;
  }
  .gnb-container{
    width: 100%;
    padding: 0 1.5%;
    box-sizing: border-box;
  }
  /* header */
  .gnb-inner{
    width: 60%;
  }
  .sign-inner{
    width: 15%;
  }
  /* intro */
  .main-info{
    width: 97%;
  }
  .mus-info-area{
    width: 73%;
  }
  .info-text-timebox{
    float: right;
    margin-top: 5px;
  }
  .info-title{
    width: 23%;
    margin-right: 0;
    float: left;
  }
  .info-text-box{
    width: 77%;
    float: left;
  }
  .mus-btn-area{
    width: 25%;
  }
  /* intro - main slide */
  .main-pc-img, .main-arrow{
    display: none;
  }
  .main-mo-img{
    display: block;
  }
  /* notice */
  .not-tab-radio label{
    font-size: 21px;
  }
  .not-tab-plus{
    margin-top: 18px;
  }
  .board-link{
    width: 75%;
    font-weight: 700;
  }
  .board-post-date{
    width: 25%;
  }
  /* sitemap */
  .sitemap-top-list{
    flex-wrap: wrap;
  }
  .sitemap-top-list > li{
    width: 25%;
  }
  .sitemap-top-list > li:nth-child(5),
  .sitemap-top-list > li:nth-child(6),
  .sitemap-top-list > li:nth-child(7),
  .sitemap-top-list > li:nth-child(8){
    margin-top: 30px;
  }
  .sitemap-mid-list li{
    margin-bottom: 10px;
  }
  .sitemap-mid-btn{
    font-weight: 500;
  }
  /* footer */
  footer{
    padding-top: 50px;
  }
  .footer-right, .footer-left{
    margin: 0;
    width: 100%;
  }
  .footer-right{
    margin-top: 55px;
  }
  .alright-inner{
    width: 35%;
    margin-right: 10%;
  }
  .direct-inner{
    width: 45%;
  }
  .direct-title{
    width: 45%;
    float: left;
  }
  .direct-title:first-child{
    margin-right: 5%;
  }
  .alright-info p, .alright-info a{
    text-align: left;
  }
}
@media screen and (max-width:980px) {
  header, footer, [class*='-container']{
    width: 90%;
  }
  .attention{
    width: 80%;
    padding: 35px 25px;
  }
  .utility-wrap, .gnb-container{
    display: none;
  }
  .mobile-header{
    display: inline-block;
    width: 100%;
    padding-top: 35px;
  }
  .logo{
    float: left;
    width: auto;
  }
  .logo-btn img{
    display: block;
  }
  .body-overflow{
    overflow-y:hidden;
  }
  .mobile-header-btns{
    float: right;
  }
    .search-btn{
      display: inline-block;
      width: 38px;
      margin-right: 20px;
    }
    .mobile-header-btns .search-close{
      display: none;
      width: 33px;
      margin-right: 20px;
      margin-top: 3px;
      margin-bottom: 2px;
    }
    .mobile-open{
      position: relative;
      display: inline-block;
      width: 38px;
      height: 30px;
      margin-bottom: 5px;
      border: none;
      background: transparent;
      z-index: 9999;
    }
      .mobile-open > span{
        position: absolute;
        left: 0;
        display: block;
        height: 3px;
        background: #222;
        transition: transform .4s, top .4s .4s, width .4s .8s;
      }
      .mobile-ham-top{
        top: 0;
        width: 100%;
      }
      .mobile-ham-mid{
        top: 50%;
        width: 50%;
        transform: translateY(-50%);
      }
      .mobile-ham-bot{
        top: 27px;
        width: 80%;
      }
      .mobile-open-on .mobile-ham-top{
        width: 100%;
        top: 50%;
        transform: rotate(45deg);
        transition: width .4s ,top .4s .4s, transform .4s .8s;
      }
      .mobile-open-on .mobile-ham-mid{
        width: 0;
        transition: width .4s;
      }
      .mobile-open-on .mobile-ham-bot{
        width: 100%;
        top: 50%;
        transform: rotate(-45deg);
        transition: width .4s ,top .4s .4s, transform .4s .8s;
      }
  .mobile-wrap{
    display: none;
  }
  .mobile-wrap-on{
    display: block;
  }
  .mobile-header-open{
    width: 90%;
    margin: 0 auto;
  }
    .mobile-open-top{
      display: inline-block;
      width: 100%;
    }
      .mobile-lang{
        position: relative;
        float: left;
        width: 23%;
        padding: 20px 0;
        border-top: 3px solid #222;
        font-size: 21px;
        font-weight: 500;
        color: #444;
        text-align: center;
        cursor: pointer;
      }
      .mobile-lang:hover{
        background: #222;
        color: #fff;
      }
        .mobile-arrow-down{
          display: inline-block;
          width: 12px;
          height: 12px;
          margin: 0 0 1px 10px;
          border-bottom: solid 2px #444;
          border-left: solid 2px #444;
          transform: rotate(-45deg);
          transition: all .4s;
        }
        .mobile-lang:hover .mobile-arrow-down{
          margin: 0 0 -5px 10px;
          border-bottom: solid 2px #fff;
          border-left: solid 2px #fff;
          transform: rotate(135deg);
        }
        .mobile-lang-list{
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
        }
        .mobile-lang:hover .mobile-lang-list{
          display: block;
        }
          .util-sub-btn{
            padding: 15px 0;
            font-size: 21px;
            font-weight: 500;
          }
    .quick-menu{
      margin-top: 50px;
    }
      .quick-menu-title{
        display: inline-block;
        width: 100%;
        padding-bottom: 20px;
      }
      .mobile-login{
        display: block;
        float: left;
        font-size: 38px;
        font-weight: 700;
        color: #222;
      }
      .mobile-log-btns{
        float: right;
      }
        .mobile-logbtn{
          display: inline-block;
          margin-left: 25px;
          font-size: 28px;
          font-weight: 500;
          line-height: 55px;
          color: #222;
        }
      .quick-sub{
        overflow: hidden;
        padding: 25px;
        border-top: 1px solid #444;
        background: #f4f4f4;
      }
        .quick-sub li{
          width: 50%;
          float: left;
          margin-bottom: 35px;
        }
        .quick-sub li:last-child{
          margin-bottom: 0;
        }
          .quick-sub-btn{
            display: inline-block;
            color: #222;
            font-size: 24px;
            font-weight: 500;
          }
            .quick-sub-btn span{
              display: block;
              float: left;
              width: 35px;
              height: 35px;
              margin-right: 15px;
            }
              .qsb0 span{
                background: url(../img/m_menu-icon00.png) no-repeat;
                background-size: contain;
              }
              .qsb1 span{
                background: url(../img/m_menu-icon01.png) no-repeat;
                background-size: contain;
                background-position: center;
              }
              .qsb2 span{
                background: url(../img/m_menu-icon02.png) no-repeat;
                background-size: contain;
              }
              .qsb3 span{
                background: url(../img/m_menu-icon03.png) no-repeat;
                background-size: contain;
              }
              .qsb4 span{
                background: url(../img/m_menu-icon04.png) no-repeat;
                background-size: contain;
              }
  .mobile-menu-list{
    margin-top: 50px;
  }
  .mobile-menu-list > li{
    padding: 15px 0;
    border-bottom: solid 1px #c8c8c8;
  }
    .mobile-menu-btn{
      display: block;
      margin-bottom: 10px;
      font-size: 36px;
      font-weight: 500;
      color: #222;
    }
      .mMenu-arrow-down{
        display: block;
        float: right;
        width: 20px;
        height: 20px;
        margin: 9px 5px 0 10px;
        border-bottom: solid 3px #444;
        border-left: solid 3px #444;
        transform: rotate(-45deg);
        transition: all .4s;
      }
      .mMenu-arrow-up{
        transform: rotate(135deg);
        margin: 15px 5px 0 10px;
      }
    .mobile-mid-inner{
      display: none;
    }
      .mobile-mid-btn{
        display: inline-block;
        margin: 10px 0;
        font-size: 28px;
        font-weight: 400;
        color: #222;
      }

  .go-search{
    width: 12%;
  }

  /* intro */
  .main-info{
    width: 100%;
    flex-direction: column;
  }
    .mus-info-area{
      width: 100%;
      margin: 0;
    }
      .info-time{
        margin-bottom: 30px;
      }
      .info-fee{
        margin-bottom: 35px;
      }
        .info-title{
          width: 35%;
          float: left;
          font-size: 28px;
        }
        .info-text-box{
          width: 65%;
          float: left;
          margin-top: 0px;
        }
          .info-text-box > p{
            float: left;
            font-size: 25px;
          }
          .info-text-timebox > p{
            padding-bottom: 15px;
          }
          .info-sub-title{
            width: 50%;
            margin-right: 0;
          }
          .info-text{
            width: 50%;
            margin-right: 0;
            font-weight: 400;
          }
          .info-text-timebox .info-endtime{
            width: 100%;
            padding-bottom: 0;
            font-size: 21px;
          }
    .mus-btn-area{
      width: 100%;
      margin: 0 auto;
    }
      .main-btn-go{
        height: 95px;
        margin-top: 35px;
        line-height: 95px;
      }
  /* notice */
    .not-top-left{
      width: 100%;
      margin-bottom: 50px;
      margin-right: 0;
    }
      .not-tab-radio label{
        font-size: 28px;
      }
      .not-board-list > li{
        line-height: 21px;
      }
        .board-link{
          width: 80%;
          font-size: 21px;
        }
        .board-post-date{
          width: 20%;
          font-size: 21px;
          font-weight: 400;
        }
    .not-top-right{
      width: 100%;
    }
  .notice-inner-bot{
    margin-top: 50px;
  }
    .not-bot-box{
      width: 100%;
      margin-bottom: 50px;
      margin-right: 0;
    }
    .not-bot-box:last-child{
      margin-bottom: 0;
    }
      .not-bot-title{
        margin-bottom: 25px;
      }
      .not-edu-btn{
        position: relative;
        height: auto;
      }
        .not-edu-btn img{
          position: relative;
          top: auto;
          left: auto;
          transform: none;
        }
        .mkt-post-title{
          margin-top: 20px;
        }
  /* sitemap */
  .sitemap-container{
    padding-top: 35px;
  }
    .sitemap-top-list > li{
      display: none;
    }
    .sitemap-top-list > li:last-child{
      display: block;
      width: 100%;
      margin-top: 0;
    }
      .sitemap-right-list{
        width: 100%;
        overflow: hidden;
      }
      .sitemap-right-list > li{
        width: 50%;
        float: left;
      }
  /* footer */
  footer{
    padding-top: 35px;
  }
    .footer-wrap{
      margin-top: 35px;
    }
}
/* tablet */
@media screen and (max-width:768px) {
  .go-search{
    width: 15%;
  }
  /* footer */
  .direct-inner{
    width: 48%;
  }
    .direct-inner .direct-title{
      width: 100%;
      margin-right: 0;
    }
    .direct-inner .direct-title:last-child{
      margin-bottom: 0;
    }
    .direct-btn{
      font-size: 16px;
    }
  .footer-right{
    flex-direction: column;
  }
    .policy-inner{
      width: 100%;
    }
    .policy-list{
      overflow: hidden;
    }
      .policy-list li{
        float: left;
        width: 33.3333%;
        text-align: center;
      }
      .policy-list li:last-child{
        margin-right: 0;
      }
        .policy-btn{
          display: none;
        }
        .personal, .useragree, .theway{
          display: inline-block;
          font-size: 18px;
        }
  .alright-inner{
    width: 100%;
    margin-top: 55px;
    margin-right: 0;
  }
    .footer-sns-list{
      width: 80%;
      margin: 0 auto 35px;
    }
      .footer-sns-btn img{
        width: 28px;
      }
    .alright-info p, .alright-info a{
      margin-bottom: 3px;
    }
}
/* mobile */
@media screen and (max-width:480px) {
  .nationExh-wrap, .notice-wrap, .sitemap-wrap{
    margin-top: 70px;
  }
  .section-title{
    margin-bottom: 20px;
  }
  /* header */
  .mobile-header{
    padding-top: 25px;
  }
  .logo{
    width: 35%;
  }
  .search-btn{
    width: 25px;
  } 
  .mobile-open > span{
    height: 2px;
  }
  .mobile-open{
    width: 25px;
    height: 25px;
    margin-bottom: 0;
  }
    .mobile-ham-bot{
      top: 22px;
    }
    .mobile-open-on .mobile-ham-top,
    .mobile-open-on .mobile-ham-bot{
      width: 110%;
    }
  .mobile-lang{
    width: 35%;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 15px;
  }
    .util-sub-btn{
      font-size: 15px;
    }
    .mobile-arrow-down{
      width: 10px;
      height: 10px;
      margin: 0 0 2px 10px;
      border-bottom: solid 1px #444;
      border-left: solid 1px #444;
    }
    .mobile-lang:hover .mobile-arrow-down{
      border-bottom: solid 1px #fff;
      border-left: solid 1px #fff;
    } 
  .mobile-header-btns .search-close{
    width: 22px;
  }
  .mobile-close{
    margin-top: 25px;
  }
    .mobile-close img{
      width: 25px;
    }
  .quick-menu{
    margin-top: 25px;
  }
  .mobile-login{
    font-size: 24px;
    font-weight: 900;
  }
  .mobile-logbtn{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
  }
  .quick-sub{
    padding: 20px 15px;
  }
    .quick-sub li{
      margin-bottom: 15px;
    }
    .quick-sub-btn{
      font-size: 16px;
    }
      .quick-sub-btn span{
        width: 20px;
        height: 20px;
        margin-right: 8px;
        margin-top: 3px;
      }
    .mobile-menu-list{
      margin-top: 15px;
    }
      .mobile-menu-btn{
        font-size: 21px;
        font-weight: 700;
      }
        .mMenu-arrow-down{
          width: 12px;
          height: 12px;
          border-bottom: solid 2px #444;
          border-left: solid 2px #444;
        }
          .mobile-mid-btn{
            margin: 6px 0;
            font-size: 18px;
          }
  .serach-form{
    padding: 45px 15px;
  }
    .search-form > input[type="text"]{
      width: 65%;
      font-size: 16px;
    }
    .go-search{
      width: 20%;
      font-size: 16px;
    }
    .search-close{
      top: 0;
      right: 18px;
    }
  /* intro */
  .info-time{
    margin-bottom: 20px;
  }
  .info-fee{
    margin-bottom: 25px;
  }
    .info-title{
      width: 100%;
      margin-bottom: 15px;
      font-size: 21px;
    }
      .info-title span{
        width: 20px;
        height: 20px;
        margin-right: 8px;
        margin-bottom: -2px;
      }
    .info-text-box{
      width: 100%;
    }
      .info-text-box > p{
        font-size: 16px;
      }
      .info-text-timebox > p{
        padding-bottom: 10px;
      }
      .info-text-timebox .info-endtime{
        font-size: 14px;
      }
    .main-btn-go{
      height: 70px;
      margin-top: 20px;
      font-size: 24px;
      line-height: 70px;
    }
  /* exhibition */
  .section-title a{
    font-size: 28px;
  }
  .nationExh-control{
    width: 25%;
    right: 0;
    top: 15px;
  }
    .nExh-prev, .nExh-next{
      width: 14px;
      height: 14px;
    }
    .nation-tag span{
      line-height: 25px;
      font-size: 14px;
      font-weight: 500;
      padding: 0 10px;
    }
  .nation-title{
    font-weight: 500;
  }
  /* notice */
  .notice-board-content{
    height: 292px;
  }
    .notice-title span{
      width: 21px;
      height: 30px;
      margin-right: 10px;
    }
    .not-tab-radio{
      width: 100%;
    }
      .not-tab-radio label{
        font-size: 18px;
      }
    .not-tab-plus{
      display: none;
    }
    .not-board-list{
      padding-top: 15px;
    }
      .not-board-list li{
        margin: 0 0 25px 25px;
      }
      .not-board-list li::marker{
        font-size: 1px;
      }
    .board-link{
      width: 70%;
      font-size: 16px;
    }
    .board-post-date{
      width: 30%;
      font-size: 14px;
    }
  .mkt-post-title{
    font-size: 21px;
    letter-spacing: -1.3px;
  }
  .musical-date{
    margin-top: 10px;
    font-size: 14px;
  }
  /* footer */
  footer{
    padding-bottom: 70px;
  }
    .footer-left{
      flex-direction: column;
    }
      .system-inner{
        width: 100%;
      }
        .system-btn{
          margin-bottom: 10px;
        }
        .system-btn:last-child{
          margin-bottom: 0;
        }
      .direct-inner{
        width: 100%;
        margin-top: 35px;
      }
        .direct-inner .direct-title{
          width: 100%;
          margin-right: 0;
        }
        .personal, .useragree, .theway{
          font-size: 15px;
        }
}